.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}

.textCenter {
  text-align: center;
}

.error {
  pointer-events: none;
  user-select: none;
  opacity: 0.5;
}
