.item {
  position: relative;
  counter-increment: counter;
  padding: 8px;
  color: #9e9e9e;
}

.item::before {
  content: counter(counter) '.';
  margin-right: 10px;
}

strong {
  color: #000;
  padding-right: 10px;
}
